*,
*:after,
*:before {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #262626;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Navigation start */
/* Mobile first start */
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    height: 56px;
    padding: 0 15px 0 15px;

    border-bottom: 1px solid #E6E6E6;

    font-size: 13px;
}

nav > .logo-container {
    display: flex;
    align-items: center;
}

nav > .logo-container > a {
    height: 85%;
}

nav > .logo-container > a > img {
    max-height: 100%;
}

nav > ul.desktop-navigation {
    display: none;
}

/* Mobile navigation start */
div.mobile-navigation {
    min-width: 42px;
}

.mobile-navigation > input {
    display: none;
}

.mobile-navigation > input:checked + label > span {
    background: transparent;
}

.mobile-navigation > input:checked + label > span::before {
    transform: translate(0, 4px) rotate(45deg);
}

.mobile-navigation > input:checked + label > span::after {
    transform: translate(0, -4px) rotate(-45deg);
}

.mobile-navigation > input:checked ~ ul {
    display: inline-flex;
    flex-flow: column nowrap;
}

.mobile-navigation > label {
    position: absolute;
    padding: 26px 11px;
    user-select: none;
}

.mobile-navigation > label > span {
    width: 20px;
    height: 1px;
    background-color: #262626;
    position: relative;
    display: block;
    transition: all .2s ease-in-out;
}

.mobile-navigation > label > span::before {
    top: -4px;
}

.mobile-navigation > label > span::after {
    top: 4px;
}

.mobile-navigation > label > span::before,
.mobile-navigation > label > span::after {
    height: 1px;
    width: 20px;
    background-color: #262626;
    position: absolute;
    content: "";
    transition: all .2s ease-in-out;
}

/* Expand navigation button end */

.mobile-navigation > ul.mobile-navigation-items {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #F2F2F2;
    border: 1px solid #E6E6E6;
}

.mobile-navigation > ul.mobile-navigation-items > li {
    position: relative;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;
    padding: 0 15px 0 15px;
    
    border-bottom: 1px solid #FFF;
}

.mobile-navigation > ul.mobile-navigation-items > li > a {
    display: inline-flex;
    flex-basis: 55px;
    align-items: center;
    padding: 0 10px 0 10px;
}

.mobile-navigation > ul.mobile-navigation-items > li.expandable > a,
.mobile-navigation > ul.mobile-navigation-items > li.expandable > div.expander {
    width: 100%;
}

.mobile-navigation > ul.mobile-navigation-items > li.expandable > div.expander > input {
    display: none;
}

.mobile-navigation > ul.mobile-navigation-items > li.expandable >  div.expander > label {
    transform: rotate(90deg);

    position: absolute;
    top: -8px;
    right: 22px;
    padding: 24px;
    display: inline-block;
    
    font-family: Times,"Times New Roman",Georgia,serif;
    font-size: 20px;
    font-weight: 900;
    user-select: none;
    transition: all .2s ease-in-out;
}

.mobile-navigation > ul.mobile-navigation-items > li.expandable > div.expander > input:checked ~ label {
    transform: rotate(270deg);
}

.mobile-navigation > ul.mobile-navigation-items > li.expandable > div.expander > input:checked ~ ul {
    display: block;
}

.mobile-navigation > ul.mobile-navigation-items > li.prominent {
    border: none;
}

.mobile-navigation > ul.mobile-navigation-items > li.prominent > a {
    background-color: #4AB847;
    color: #FFF;
}

/* Second level navigation */
.mobile-navigation > ul.mobile-navigation-items > li > div.expander > ul {
    display: none;
    padding: 0 0 0 15px;
    width: 100%;
    list-style: none;
}

/* Second level navigation */
.mobile-navigation > ul.mobile-navigation-items > li > div.expander > ul > li {
    border-top: 1px solid #FFF;
}

.mobile-navigation > ul.mobile-navigation-items > li > div.expander > ul >  li > a {
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    height: 55px;
}

/* Mobile navigation end */

/* Desktop navigation start */
@media screen and (min-width: 860px) {
    nav {
        padding: 0 65px;
    }

    nav > div.mobile-navigation {
        display: none;
    }

    nav > ul.desktop-navigation {
        display: inline-flex; /* I need this to remove trailing whitespaces after li elements */
    }
}

@media screen and (min-width: 1360px) {
    nav {
        padding: 0 151px;
    }
}

nav > ul.desktop-navigation {
    margin: 0;
}

nav > ul > li {
    position: relative;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
    
    border-left: 1px solid #FFF;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

nav > ul > li > a {
    display: inline-flex;
    align-items: center;
    padding: 0 10px 0 10px;
    height: 100%;
}

nav > ul > li.expandable > a::after{
    content: '›';
    transform: rotate(90deg);

    display: inline-block;
    margin-left: 10px;

    font-family: Times,"Times New Roman",Georgia,serif;
    font-size: 18px;
    font-weight: 900;
    user-select: none;
}

nav > ul > li.expandable:hover {
    background-color: #F2F2F2;

    border-left: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
}

nav > ul > li.expandable > a:hover {
    background-color: #FAFAFA;
}

nav > ul > li.expandable:hover > ul {
    display: inline-block;
}

nav > ul > li.prominent {
    border: none;
}

nav > ul > li.prominent > a {
    background-color: #4AB847;
    color: #FFF;
}

/* Second level navigation */
nav > ul > li > ul {
    position: absolute;
    left: -1px;
    top: 54px;

    display: none;
    padding: 0;
    min-width: calc(100% + 2px);

    list-style: none;

    background-color: #F2F2F2;

    border: 1px solid #E6E6E6;
}

/* Second level navigation */
nav > ul > li > ul.wide {
    width: 178px;
}

nav > ul > li > ul > li > a {
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    height: 56px;
}

nav > ul > li > ul > li > a:hover {
    background-color: #FAFAFA;
}
/* Desktop navigation end */

/* Layout start */
/* Mobile layout start */
.main-content {
    width: 100%;
    padding: 0 15px 55px 15px;
}

main > section.hero-image {
    min-height: 366px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main > section.hero-image > h1,
main > section.hero-image > p,
main > section.hero-image > a {
    margin: 0 0 15px 0;
    color: #FFF;
}

main > section.hero-image > h1 {
    padding-top: 55px;
    font-size: 42px;
    font-weight: 600;
}

main > section.hero-image > p {
    font-size: 18px;
    max-width: 900px;
}

main > section.hero-image > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    padding: 0 10px;
    font-size: 18px;
    background-color: #4AB847;
    user-select: none;
}

main > section.hero-image > a:hover {
    background-color: #55D551;
}

main  p {
    font-size: 18px;
}

footer {
    width: 100%;
    padding: 0 15px;
    background-color: #F2F2F2;
}

footer .footer-column {
    flex: 1 0 150px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 50px;
}

footer .footer-column > a {
    margin-bottom: 10px;
    color: #616161;
    user-select: none;
}

footer .footer-column > a:hover {
    color: #363636;
    text-decoration: underline;
}

footer .footer-column > a:first-child {
    font-size: 18px;
    font-weight: 800;
}

footer .footer-column > p {
    margin: 5px 0;
    color: #616161;
}
/* Mobile layout end */
/* Desktop layout start */
@media screen and (min-width: 860px) {
    .main-content {
        padding: 0 100px 55px 100px;
    }

    footer {
        padding: 0 100px;
    }
}

@media screen and (min-width: 1360px) {
    .main-content {
        width: 100%;
        padding: 0 272px 55px 272px;
    }

    footer {
        width: 100%;
        padding: 0 272px;
    }
}

/* Desktop layout end */

/* Layout end */

/* Generic start */
h2 {
    margin: 0;
    padding: 20px 0;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

.dark {
    background-color: #222222;
}

.grey {
    background-color: #FAF9F8;
}

.light-text {
    color: #FFF;
}

.text-align-center {
    text-align: center;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.centered {
    justify-content: center;
}

.condensed > * {
    margin: 0;
}

.spaced-bottom {
    margin-bottom: 40px;
}

/* Generic end */

/* What We Do - Page - Start */
main > section.hero-image.what-we-do {
    background-image: url('images/hero-images/what-we-do.png');
}

.service-card {
    flex-basis: 100%;
    display: flex;
    margin-top: 20px;
}

.service-card > img {
    flex: 1 0 140px;
    margin-right: 10px;
}

.service-card > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.service-card > div > h3 {
    margin: 0 0 10px 0;
}

.service-card > div > p {
    margin: 0;
}

@media screen and (min-width: 860px) {
    .service-card > img {
        flex-basis: 120px;
    }
}

@media screen and (min-width: 1200px) {
    .service-card > img {
        flex-basis: 100px;
    }
}

@media screen and (min-width: 1360px) {
    .service-card {
        flex-basis: 50%;
    }
}

.solution-card {
    flex-basis: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 369px;
}

.solution-card > img {
    width: 65px;
    margin-top: 15px;
}

.solution-card > p {
    margin: 0;
    padding: 0 10px 10px 10px;
    text-align: center;
}

@media screen and (min-width: 860px) {
    .solution-card {
        flex-basis: calc(100% / 2);
    }
}

@media screen and (min-width: 1200px) {
    .solution-card {
        flex-basis: calc(100% / 3);
    }
}

@media screen and (min-width: 1600px) {
    .solution-card {
        flex-basis: calc(100% / 4);
    }
}

.spaced-around {
    justify-content: space-around;
}

.tech-card {
    margin: 10px 0;
    flex: 1 0 150px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.tech-card > p {
    flex-basis: 100%;
}

.tech-card > div {
    width: 100px;
    height: 1px;
    border-bottom: 1px solid #F2F2F2;
}

/* What We Do - Page - End */

/* About Us Start */
main > section.hero-image.about-us {
    background-image: url('images/hero-images/about-us.png');
}

/* About Us End */

/* Contact Us Start */
main > section.hero-image.contact-us {
    background-image: url('images/hero-images/contact-us.png');
}
/* Contact Us End */

/* Our Work Start */
main > section.hero-image.our-work {
    background-image: url('images/hero-images/our-work.png');
}

.project > img{
    max-width: 100%;
}

@media screen and (min-width: 860px) {
    .project {
        display: flex;
        align-items: center;
    }

    .project > img{
        margin-right: 20px;
        max-width: 50%;;
    }
}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1360px) {

}
/* Our Work End */

/* Navigation end */
